# Git
.git
.gitignore

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# VS Code
.vscode/

# Data files (pueden ser muy grandes)
/data/raw/
/data/processed/
*.npz
*.csv
*.parquet
*.hdf5

# Ambientes y configuración local
.env
.env.local
venv/
.ipynb_checkpoints/

# Logs
logs/
*.log

# Credenciales (para evitar fugas accidentales)
*credentials*.json
*key*.json