GCP_PROJECT_ID="btcbot-461022"
GCS_BUCKET_NAME="btcbot-training-ew4"
GCP_REGION="europe-southwest1"
BIGQUERY_LOG_DATASET_ID="btcbot_logs"


# Para la cuenta REAL de Binance Futures
SECRET_NAME_BINANCE_API_KEY_FUTURES="BINANCE_API_KEY_FUTURES"
SECRET_NAME_BINANCE_API_SECRET_FUTURES="BINANCE_API_SECRET_FUTURES"

# Para la cuenta TESTNET de Binance Futures
SECRET_NAME_TESTNET_BINANCE_API_KEY_FUTURES="TESTNET_BINANCE_API_KEY_FUTURES"
SECRET_NAME_TESTNET_BINANCE_API_SECRET_FUTURES="TESTNET_BINANCE_API_SECRET_FUTURES"

# Live Trading Mode: TESTNET o REAL
# Esta variable determinará qué conjunto de NOMBRES de secretos se utilizan.
LIVE_TRADING_MODE="TESTNET" 
# Puede ser "TESTNET" o "REAL"