GCP_PROJECT_ID="bitcoin-460320"
GCS_BUCKET_NAME="bitcoin-460320_data"
GCP_REGION="europe-southwest1"


#apis de google cloud
#  BINANCE_API_KEY_FUTURES
#  BINANCE_API_SECRET_FUTURES

# TESTNET_BINANCE_API_SECRET_FUTURES
# TESTNET_BINANCE_API_KEY_FUTURES