# Dependencias para el bot de trading de Bitcoin
pandas>=2.0.0
numpy>=1.24.0,<2.0.0
PyYAML>=6.0
python-binance>=1.0.17
pytz>=2023.3
google-cloud-secret-manager>=2.16.0
google-cloud-storage>=2.10.0
google-cloud-aiplatform>=1.36.0  # Nueva dependencia para Vertex AI TensorBoard
cloudml-hypertune>=0.1.0.dev6  # Dependencia para comunicación con Vertex AI Hypertune
gcsfs>=2025.5.1
pandas-ta>=0.3.14b
scikit-learn>=1.3.0
joblib>=1.3.0
gymnasium>=0.29.0

# Dependencias para el agente SAC con Transformer
torch>=2.0.0
tensorboard>=2.8.0

# Dependencias para el despliegue del endpoint
fastapi>=0.100.0
uvicorn>=0.22.0
pydantic>=2.0.0
setuptools>=60.0.0