aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
attrs==25.3.0
binance-connector==3.12.0
certifi==2025.4.26
charset-normalizer==3.4.2
cloudpickle==3.1.1
contourpy==1.3.2
cycler==0.12.1
dateparser==1.2.1
Farama-Notifications==0.0.4
filelock==3.18.0
fonttools==4.58.0
frozenlist==1.6.0
fsspec==2025.3.2
# GCP Dependencies
google-cloud-storage>=2.10.0
google-cloud-aiplatform>=1.37.0
google-cloud-secretmanager>=2.16.0
kfp>=2.0.0
# End GCP Dependencies
gymnasium==1.0.0
idna==3.10
Jinja2==3.1.6
kiwisolver==1.4.8
MarkupSafe==3.0.2
matplotlib==3.10.3
mpmath==1.3.0
multidict==6.4.3
networkx==3.4.2
numpy==1.26.4
packaging==25.0
pandas==2.2.3
pandas_ta==0.3.14b0
pillow==11.2.1
pyarrow==17.0.0
propcache==0.3.1
pycryptodome==3.22.0
pyparsing==3.2.3
python-binance==1.0.28
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
setuptools==80.7.1
six==1.17.0
stable_baselines3==2.4.1
sympy==1.14.0
ta-lib==0.6.3
torch==2.2.2
typing_extensions==4.13.2
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.4.0
websocket-client==1.8.0
websockets==15.0.1
yarl==1.20.0
